
/* .serach-div{
  width: auto;
  display: flex;
  justify-content: right;
} */







.nav-div {
  height: auto;
}

.b {
  min-width: 9rem;
  /* margin-top: 1rem;
  margin-bottom: 1rem; */
  font-family: 'Satisfy', cursive;
  color: yellow;

  letter-spacing: 3px;


  width:1%;
}



.bn {
  display: flex;
  justify-content: center;
  margin-bottom: 0px;

}

.new-contact {

  width: inherit;
  margin: 0;
  display: flex;
  justify-content: center;
  margin-bottom: -10px;
}




/* sm */
@media (max-width : 600px) {



  .header-contact {
    display: none;
  }

  .header-search{
    .form-control{
     
      max-width: 40rem;
    }
  }



  .ap {
    margin: auto;
  }

  .ch {
    margin-top: 30px;
    margin-bottom: -15px;
  }








  .b {
    /* margin-left: 1.9rem; */
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    text-shadow: 1px 2px red;

  }



  .cover-image {
    height: 20vh;
    width: 20vw;
    margin-top: 10px;
  }


  .e-l {
    font-size: 5rem;
    font-family: 'Satisfy', cursive;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    letter-spacing: 3px;
    padding: 20px;
    text-shadow: 3px 5px red;
    transition: box-shadow 0.5s ease;
    border-radius: 15px;
  }






  #carousel-lg {
    display: none;
  }

  #carousel-md {
    display: none;
  }

  #carousel-md-1 {
    display: none;
  }

  .cr {
    /* margin-top: 0px; */
    margin: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .e-tl {
    margin-top: 80px;
    color: white;
    background-color: rgba(0, 0, 0, 0.113);
    border-radius: 0 10px 0 10px;
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    font-size: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 15px 15px 20px 15px rgba(0, 0, 0, 0.4);

  }

  .lgc .card {

    width: 18rem;

  }





  .pi3 {
    width: inherit;
    height: 300px;


  }


  .pi {
    width: inherit;
    height: 300px;
    /* necessary for single carsousel in small device */

  }


}











.e-l:hover {
  border-radius: 15px;
  box-shadow: 10px 15px 20px 10px rgba(0, 0, 0, 0.4);
  transition: 1000ms;
 

}



.header {
  box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.1);
}


.cover-image {
  height: 40vh;
  width: auto;
  background-color: aqua;
  background-image: url(../images/bg5.jpg);
  background-size: 100%;
  display: flex;
  color: yellow;
  align-items: center;
  margin-top: 10px;
  justify-content: center;

}





/* lg */
@media (min-width : 1410px) {

  .e-l {

    font-family: 'Satisfy', cursive;
    font-size: 10rem;
    position: absolute;
    color: yellow;
    text-shadow: 5px 7px red;
    -webkit-text-stroke: 4px rgb(0, 0, 0);
    letter-spacing: 7px;
    padding: 20px;
    transition: box-shadow 0.5s ease;
    border-radius: 15px;


  }

  
.header-search{
  .form-control{
    min-width: 24rem;
    max-width: 40rem;
  }
}

  #carousel-md-1 {
    display: none;
  }

  .new-contact {
    display: none;
  }


  .bn {
    margin-bottom: -10px;
  }

  .cuimg {
    width: 100%;
    height: 335px;
    object-fit: cover;
  }



  .b {
    /* margin-left: 1.9rem; */
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    text-shadow: 3px 1px red;
    margin-left: 10px;

  }



  .cs {
    padding-bottom: 76px;
  }

  .lgc .card {

    width: 30rem;

  }

  .ch {
    margin-top: 30px;
    margin-bottom: -15px;
  }

  .e-tl {
    margin-top: 150px;
    color: white;
    background-color: rgba(0, 0, 0, 0.113);
    border-radius: 0 10px 0 10px;
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 15px 15px 20px 25px rgba(0, 0, 0, 0.4);
  }


  #carousel-md {
    display: none;
  }

  #carousel-sm {
    display: none;
  }

  .cover-image {
    height: 80vh;
    width: auto;
    background-position: center;
    background-image: url(../images/bg5.jpg);
    background-size: 100%;
    object-fit: cover;
    color: white;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;



  }

  .cr {
    margin: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
   
  }


  .pi3 {
    width: inherit;
    height: 350px;


  }

  .dropdown:hover .dropdown-menu {
    display: block;
  }

}


/* nav2 hover */
.nav-2:hover {
  background-color: rgb(196, 227, 104);

  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  transition: 100ms;
  border-radius: 10px;
}








.featured-products {
  position: relative;
  height: auto;
  margin: auto;
  width: 100%;


  display: flex;
  align-items: center;
  justify-content: center;



}

.fph {
  width: inherit;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0px;
  /* box-shadow: 0 1px 20px 0 rgba(0,0,0,0.2); */
  text-shadow: 1px 1px rgb(213, 205, 205);

  color: rgb(0, 0, 0);
  padding: 30px;
  z-index: 1;
}

.cimg {
  width: 100vw;
  height: 75vh;
}




.card {
  margin: auto auto;
  margin-top: 20px;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.9);
  /* background-color: rgba(0,0,0,0.2); */
  transition: 0.3s;
  /* box-shadow: 10px 10px lightblue; */
}

.card:hover {
  box-shadow: 15px 15px 20px 5px rgba(0, 0, 0, 0.4);
}

.fr {
  padding: 80px;


}

.footer-div {

  color: white;
  padding: 20px 20px;
  margin-right: 0;

}

.footer-div a:hover {
  color: blue
}

.footer-div a {
  color: white
}

a:link {
  text-decoration: none;
}





.c-b {
  margin-bottom: 10px;
  background-color: yellowgreen;
}

.apd {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  /* padding: 40px 40px; */
  padding-bottom: 20px;

}

.ap {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  width: 100%;

}



/* md */
@media (min-width: 600px) and (max-width:1049px) {


  #carousel-lg {
    display: none;
  }

  #carousel-sm {
    display: none;
  }

  #carousel-md {
    display: none;
  }


  
.header-search{
  .form-control{
    min-width: 24rem;
    max-width: 40rem;
  }
}





  .new-contact {
    display: none;
  }

  .bn {
    margin-bottom: -10px;
  }



  .ch {
    margin-top: 30px;
    margin-bottom: -15px;
  }




  .e-l {
    font-family: 'Satisfy', cursive;
    font-size: 7rem;
    position: absolute;
    color: yellow;
    text-shadow: 5px 7px red;
    -webkit-text-stroke: 4px rgb(0, 0, 0);
    letter-spacing: 7px;
    border-radius: 15px;
    padding: 20px;
    transition: box-shadow 0.5s ease;
  }

  .b {
    /* margin-left: 1.9rem; */
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    text-shadow: 3px 1px red;


  }

  .cs {
    padding-bottom: 66px;
  }





  .lgc .card {

    width: 28rem;

  }

  .cuimg {
    width: 100%;
    height: 336px;
    object-fit: cover;
  }

  .pi3 {
    width: inherit;
    height: 350px;


  }



  .e-tl {
    margin-top: 130px;
    color: white;
    background-color: rgba(0, 0, 0, 0.113);
    border-radius: 0 10px 0 10px;
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 15px 15px 20px 25px rgba(0, 0, 0, 0.4);
  }

  .cover-image {
    height: 60vh;
    width: auto;
    background-color: aqua;
    background-image: url(../images/bg5.jpg);
    background-size: 100%;
    display: flex;
    color: yellow;
    align-items: center;
    justify-content: center;
    margin-top: 10px;

  }
}





.login-container {

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 60vh;

  padding-bottom: 10px;
  padding-top: 15px;
}

.login-heading {
  text-align: center;
}

.lgup {
  width: 100%;
}

.lgc {
  margin-bottom: 1%;

}

.l-b {
  width: 100%;
}

.mb-3 {
  margin-top: 1%;
  margin-bottom: 1%;
}


.cmd {
  display: flex;

  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  margin-top: 50px;
  width: 100%;


}

.cart-image {



  background-image: url(../images/men/p1.webp);
  object-fit: cover;
  background-size: 100%;


}

.cart-cards {
  min-height: 300px;

}

.cart-input {
  width: 100%;
  margin-top: 10px;
  text-align: center;
}

.cart-plus-minus {
  display: flex;
  text-align: center;
  justify-content: center;
  position: relative;

  top: 0;
}

.cpm {

  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;

}

.cmd .card {

  box-shadow: none;
  border: none;

}



.apcb {
  margin-bottom: 15px;
  margin-left: 15px;



}



@media (min-width: 1049px) and (max-width:1410px) {


  #carousel-lg {
    display: none;
  }

  #carousel-sm {
    display: none;
  }

  #carousel-md-1 {
    display: none;
  }

  .new-contact {
    display: none;
  }

  ul.li {
    display: none;
  }

  .d-flex {
    display: flex;
    justify-content: center;
  }

  
.header-search{
  .form-control{
    min-width: 24rem;
    max-width: 40rem;
  }
}




  .bn {
    margin-bottom: -10px;
  }

  .cover-image {
    height: 60vh;
    width: auto;
    background-color: aqua;
    background-image: url(../images/bg5.jpg);
    background-size: 100%;
    display: flex;
    color: yellow;
    align-items: center;
    justify-content: center;
    margin-top: 10px;

  }




  .ch {
    margin-top: 30px;
    margin-bottom: -15px;
  }



  .ap {
    margin: auto;
  }


  .e-l {
    font-family: 'Satisfy', cursive;
    font-size: 8rem;
    position: absolute;
    color: yellow;
    text-shadow: 5px 7px red;
    -webkit-text-stroke: 4px rgb(0, 0, 0);
    letter-spacing: 7px;
    border-radius: 15px;
    padding: 20px;
    transition: box-shadow 0.5s ease;
  }

  .e-tl {
    margin-top: 130px;
    color: white;
    background-color: rgba(0, 0, 0, 0.113);
    border-radius: 0 10px 0 10px;
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 15px 15px 20px 25px rgba(0, 0, 0, 0.4);
  }

  .b {
    /* margin-left: 1.9rem; */
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    text-shadow: 3px 1px red;


  }

  .cs {
    padding-bottom: 66px;
  }

  .pi3 {
    width: inherit;
    height: 350px;


  }

  .cuimg {
    width: 100%;
    height: 336px;
    object-fit: cover;
  }

  .lgc .card {

    width: 28rem;

  }
}


.header-login-btn{
  background-color: yellowgreen;
  width: 5rem;
 
}

.header-cart-btn{
  background-color: yellowgreen;
  width: 5rem;

}

.header-search-btn{
  background-color: yellowgreen;

}



@media (max-width:991px) {

  .l-c{
      width: 5rem;
      
  }
  
  .header-cart-btn{
      background-color: yellowgreen;
      margin-top: 0.4rem;
  }

  
}

@media (min-width:991px) {

  /* .l-c{
      width: 20%;
      
  } */

  .header-login-btn{
      background-color: yellowgreen;
      margin-right: 0.4rem;
      /* max-width: 6rem;
      min-width: 6rem; */
      width: 5rem;
  }

  .header-cart-btn{
      background-color: yellowgreen;
      /* min-width: 6rem;
      max-width: 6rem; */
     width: 5rem;
      
   
  }

  .header-search-btn{
      background-color: yellowgreen;
   
  }






  
}


.add-to-cart{
  background-color: yellowgreen;
}

.l-b {
  width: 100%;
}